[{:db/id #db/id[:db.part/db]
  :db/ident :book/iban
  :db/unique :db.unique/identity
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A book's id"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :book/title
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A book's title"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :book/author
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A book's author"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :book/description
  :db/valueType :db.type/string
  :db/cardinality :db.cardinality/one
  :db/doc "A book's description"
  :db.install/_attribute :db.part/db}
 {:db/id #db/id[:db.part/db]
  :db/ident :book/rating
  :db/valueType :db.type/long
  :db/cardinality :db.cardinality/one
  :db/doc "A book's rating"
  :db.install/_attribute :db.part/db}]
